{%extends 'base.html'%}
{%block content%}
<h1>Assalomu alaykum parolni almashtirmoqchi bo'lsangiz pastdagilarni to'ldiring</h1>
<form method="post">
  {%csrf_token%}

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Old Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="old_password">
  </div>
      <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">New Password</label>
    <input type="password" class="form-control" id="exampleInputPassword2" name="password1">
  </div>
  <ul>
    <li>
    Your password can’t be too similar to your other personal information.
    </li>

    <li>
    Your password must contain at least 8 characters.
    </li>

    <li>
    Your password can’t be a commonly used password.
    </li>

    <li>
    Your password can’t be entirely numeric.
    </li>
  </ul>
      <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Repeat Password</label>
    <input type="password" class="form-control" id="exampleInputPassword3" name="password2">
  </div>
  <p>Write as complex a password as possible</p>
  <a type="submit" href="{%url 'password_change_done'%}" class="btn btn-primary">Submit</a>

</form>
{%endblock content%}